@charset "ISO-8859-1";

table
{
	width: 100%;
	border: 1px solid;
	font-family: cursive;
}

input[type=submit],[type=reset],[type=button]
{
	background-color: #04AA6D;
}

td
{
	color:purple
}